openapi: 3.0.0
info:
  title: "Retrieve Balances"
  description: "Servicio para consultar saldos de una cuenta deposito"
  version: "1.0.0"

tags:
- name: "Consults balance"
  description: "Servicio destinado a la consulta de saldos de un cliente"

servers: 
  - url: "https://eq6-transaction.getsandbox.com:443/"
    description: "Servidor Sandbox"

paths:
  
  # --------------------------------
  # Consulta Saldos Cuentas Deposito
  # --------------------------------
  /balance:
    post:
      security:
         - clientSecret: []
           clientId: []
      tags:
        - "Consults balance"
      summary: "Obtiene los saldos de una cuenta deposito"
      description: "Servicio destinado a la consulta de saldos consolidados  de las cuentas depositos de un cliente"
      parameters:
        - in: header
          name: Transaction-Tracker
          schema:
            type: string
            format: uuid
            example: "8348c30c-1296-4882-84b8-d7306205ce26"
          description: "ID para trazabilidad de la transacción ante logs. Debe ser proporcionado por el front. debe ser único por transacción."
          required: true
        - in: header
          name: Session-Tracker
          schema:
            type: string
            format: uuid
            example: "15980943-5fcd-4423-a948-b015452d7479"
          description: "ID para trazabilidad de la sesión. Debe ser proporcionado por el front. Se debe enviar el correspondiente a la sesion de usuario activa."
          required: true
        - in: header
          name: "Channel"
          schema:
            type: string
            example: "APP"
          description: "Identificador del canal que esta usando el servicio."
          required: true
        - in: header
          name: "Date"
          schema:
            type: string
            format: utf-8 
            example: "2019/08/23"
          description: "Información de la fecha actual del front, en la que se envió la petición al servicio."
          required: true
        - in: header
          name: "Date-time"
          schema:
            type: string
            format: utf-8
            example: "15:59:00"
          description: "Información de la hora actual del front, en la que se envió la petición al servicio en formato 24h"
          required: true
        - in: header
          name: "Ip"
          schema:
            type: string
            example: "192.168.164.25"
          description: "Ip del dispositivo en el cual se generó la petición."
          required: true
        - in: header
          name: "ClientID"
          schema:
            type: string
            example: "10095928"
          description: "Documento de identificación del cliente que realiza la petición."
          required: true
        - in: header
          name: "ClientType"
          schema:
            type: string
            example: "CC"
          description: "Tipo de Documento de identificación del cliente que realiza la petición."
          required: true
        
      requestBody:
        required: true
        content:
          application/vnd.bancolombia.v2+json:
            schema:
              $ref: "#/components/schemas/rqBalance"
            
      responses:
        200:
          description: "200 ok"
          content:
            application/vnd.bancolombia.v2+json:
              schema:
                $ref: "#/components/schemas/rsBalance"
      
        default:
          description: "Mensaje de error por defecto"
          content:
            application/vnd.bancolombia.v2+json:
              schema:
                type: object
                properties:
                  status:
                    $ref: "#/components/schemas/failure"
      
                    
  # --------------------------------
  # Consulta Saldos/ health
  # --------------------------------
  /balance/health:
    head:
      responses:
        200:
          description: "200 OK"
      security:
      - clientId: []

components:
    # --------------------------------
    # SecuritySchemes
    # --------------------------------  
  securitySchemes:
    clientSecret:
      type: "apiKey"
      description: ""
      in: "header"
      name: "X-IBM-Client-Secret"
    clientId:
      type: "apiKey"
      description: ""
      in: "header"
      name: "X-IBM-Client-Id"
      
  schemas:
    # --------------------------------
    # Schema Request
    # --------------------------------  
    rqBalance:
      type: "object"
      required:
        - "data"
      properties:
        data:
          type: "array"
          items:
            type: "object"
            uniqueItems: true
            required:
              - "account"
            properties:
              account:
                type: "object"
                required:
                 - "type"
                 - "number"
                properties:
                  type:
                    type: "string"
                    maxLength: 50
                    description: "Tipo de cuenta"
                    example: "CUENTA_DE_AHORROS Ó CUENTA_CORRIENTE"
                  number:
                    type: "string"
                    maxLength: 16
                    description: "Numero de cuenta"
                    example: "21476523490"
    # --------------------------------
    # Schema Respuesta exitosa
    # --------------------------------                
    rsBalance:
      type: "object"
      required:
       - "data"
      properties:
        data:
          type: "array"
          items:
            type: "object"
            uniqueItems: true
            required:
              - "account"
            properties:
              account:
                type: "object"
                required:
                - "balances"
                properties:
                  balances:
                    type: "object"
                    required:
                    - "available"
                    - "availableOverdraftBalance"
                    - "overdraftValue"
                    - "availableOverdraftQuota"
                    - "cash"
                    - "unavailableClearing"
                    - "receivable"
                    - "blocked"
                    - "unavailableStartDayClearingStartDay"
                    - "cashStartDay"
                    - "pockets"
                    - "remittanceQuota"
                    - "agreedRemittanceQuota"
                    - "remittanceQuotaUsage"
                    - "normalInterest"
                    - "suspensionInterest"
                    properties:
                      available:
                        type: "number"
                        format: "float"
                        description: "Saldo disponible."
                        minLength: 1
                        maxLength: 16
                        example: 25,000,000.0000
                      availableOverdraftBalance:
                        type: "number"
                        format: "float"
                        description: "Saldo disponible. + Valor cupo de sobregiro."
                        minLength: 1
                        maxLength: 16
                        example: 0
                      overdraftValue:
                        type: "number"
                        format: "float"
                        description: "Valor total del Cupo de Sobregiro."
                        minLength: 1
                        maxLength: 16
                        example: null
                      availableOverdraftQuota:
                        type: "number"
                        format: "float"
                        description: "Valor del Cupo de Sobregiro que se puede utilizar."
                        minLength: 1
                        maxLength: 16
                        example: null
                      cash:
                        type: "number"
                        format: "float"
                        description: "Saldo en efectivo."
                        minLength: 1
                        maxLength: 16
                        example: 25,000,000.0000
                      unavailableClearing:
                        type: "number"
                        format: "float"
                        description: "Saldo en canje."
                        minLength: 1
                        maxLength: 16
                        example: 0.0000
                      receivable:
                        type: "number"
                        format: "float"
                        description: "Saldos en cuentas por cobrar."
                        minLength: 1
                        maxLength: 16
                        example: 1,500,000.0000
                      blocked:
                        type: "number"
                        format: "float"
                        description: "Saldo bloqueado."
                        minLength: 1
                        maxLength: 16
                        example: 0.0000
                      unavailableStartDayClearingStartDay:
                        type: "number"
                        format: "float"
                        description: "Saldo en canje al inicio del día."
                        minLength: 1
                        maxLength: 16
                        example: 0.0000
                      cashStartDay:
                        type: "number"
                        format: "float"
                        description: "Saldo en efectivo al inicio del día."
                        minLength: 1
                        maxLength: 16
                        example: 18,000,000.0000
                      pockets:
                        type: "number"
                        format: "float"
                        description: "Saldo de bolsillos."
                        minLength: 1
                        maxLength: 16
                        example: 5,000,000.000
                      remittanceQuota:
                        type: "number"
                        format: "float"
                        description: "Cupo remesas consignadas."
                        minLength: 1
                        maxLength: 16
                        example: 0.0000
                      agreedRemittanceQuota:
                        type: "number"
                        format: "float"
                        description: "Cupo remesa negociada."
                        minLength: 1
                        maxLength: 16
                        example: 0.0000
                      remittanceQuotaUsage:
                        type: "number"
                        format: "float"
                        description: "Saldo utilizado cupo de la remesa."
                        minLength: 1
                        maxLength: 16
                        example: 0.0000
                      normalInterest:
                        type: "number"
                        format: "float"
                        description: "Intereses de sobregiro que tienen menos de 90 días."
                        minLength: 1
                        maxLength: 16
                        example: null
                      suspensionInterest:
                        type: "number"
                        format: "float"
                        description: "Intereses de sobregiro que tienen mas de 90 días o menos dependiendo de la calificación del cliente."
                        minLength: 1
                        maxLength: 16
                        example: null
                      
      
    # --------------------------------
    # Schema meta
    # --------------------------------  
    meta:
      type: "object"
      required:
      - "_responseSize"
      - "_flagMoreRecords"
      - "_messageId"
      - "_version"
      - "_requestTimeStamp"
      properties:
        _responseSize:
          type: "number"
          description: "Total de registros."
          minLength: 1
          maxLength: 2
          example: 27
        _flagMoreRecords:
          type: "boolean"
          description: "Indica si existen mas registros en la solicitud"
          example: false
        _messageId:
          type: "string"
          example: "c4e6bd04-5149-11e7-b114-b2f933d5fe66"
        _requestTimeStamp:
          type: "string"
          format: "date-time"
          example: "2017-01-24T05:00:00.000Z"
        _applicationId:
          type: "string"
          example: "acxff62e-6f12-42de-9012-3e7304418abd"
        _version:
          type: "string"
          example: "3.0"
          
    # --------------------------------
    # Schema links
    # --------------------------------     
    links:
      description: "Un objeto de recurso PUEDE contener referencias a otros objetos\
        \ de recurso"
      type: "object"
      properties:
        self:
          description: "Un mismo miembro, cuyo valor es una URL para los datos de relació\
            n"
          type: "string"
          format: "uri"
      additionalProperties: false
      
    # --------------------------------
    # Schema failure
    # --------------------------------     
    failure:
      type: "object"
      required:
      - "meta"
      - "errors"
      properties:
        meta:
          $ref: "#/components/schemas/meta"
        errors:
          type: "array"
          uniqueItems: true
          items:
            $ref: "#/components/schemas/error"
      additionalProperties: false
      
    # --------------------------------
    # Schema error
    # --------------------------------   
    error:
      type: "object"
      required:
      - "code"
      - "detail"
      properties:
        id:
          description: "Un identificador único para esta aparición particular del problema."
          type: "string"
          example: "5f2d287a-3a3f-11e7-a919-92ebcb67fe33"
        href:
          description: "Un URI que ** PUEDE ** proporciona más detalles sobre esta ocurrencia\
            \ particular del problema."
          type: "string"
          example: "https://tools.ietf.org/html/rfc7231#section-6.5.4"
        status:
          description: "El código de estado HTTP aplicable a este problema, expresado\
            \ como un valor de cadena."
          type: "string"
          example: 404
        code:
          description: "Un código de error específico de la aplicación, expresado como\
            \ un valor de cadena."
          type: "string"
          example: "BP404"
        title:
          description: "Un breve resumen, legible por el hombre, del problema. ** NO\
            \ DEBE ** cambiar de ocurrencia a ocurrencia del problema, excepto para\
            \ propósitos de localización."
          type: "string"
          example: "Not Found"
        detail:
          description: "Una explicación legible por humanos específica para esta ocurrencia\
            \ del problema."
          type: "string"
          example: "Requested resource could not be found"
      additionalProperties: false